.project-link {
  position: relative;
  display: block;
  padding: 4px 8px;
  margin-bottom: -4px;
  align-content: stretch;
  font-weight: 600;
  text-align: right;
  text-decoration: none;
  color: orangered;
  opacity: 0.9;
}

.project-link:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  background: linear-gradient(90deg, orangeRed 50%, #fff 50%);
  z-index: -1;
}

.project-link, .project-link:after {
  background-size: 200%;
  background-position: 100%;
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.project-link:hover, .project-link:hover:after {
  background-position: 0;
  color: white;
}
