.project-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image img {
  display: block;
  width: auto;
  max-width: 100%;
  max-height: 200px;
  contain: content;
  cursor: pointer;
}